main {
    background: white;
    width: 90%;
    margin:auto;
    border-radius: 5px;
    padding: 2rem 0;
}

body{
    margin:0;
    padding:2rem 0;
    width: 100%;
    background: #E59E56;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
}

h2{
    margin: 2rem auto;
}

.comment {
    margin:1rem auto;
    border: 1px solid black;
    border-radius: 5px;
    max-width: 50%;
    min-width: 15rem;
}

form{
    margin: 2rem auto;
    width:50%;
    min-width: 15rem;
    padding:1rem;
    border: 1px solid #CCC;
    border-radius: 5px;
}

.formSection{
    margin-top: 1rem;
    margin-bottom:2rem;
}

label {
    display: inline-block;
    width:80%;
}
textarea {
    vertical-align: top;
    height: 5rem;
}

input,textarea {
    width:80%;
    box-sizing: border-box;
    border:1px solid #999;
    min-height: 2rem;
    font-size:1.2rem;
}

button{
  
    font: inherit;
    color: inherit;
    border: solid 1px transparent;
    border-radius:5px;
    padding: 0.5rem 1 rem;
    color: #ffffff;
    background-color: black;
}